<div class="row">
    <div class="col s12 m12">
      <div class="card">
        <div class="card-content">
			<span class="card-title">Gerenciador de Despesas Variáveis</span>
		</div>
        <div class="card-content">
         <table>
			 <thead>
				 <tr>
					 <th>Favorecido</th>
					 <th>Data da Despesa</th>
					 <th>Valor da Despesa</th>
					 <th>Ações</th>
				 </tr>
			 </thead>
			 <tbody>
				 <tr *ngFor="let despesaResultado of getDespesaList()">
					 <td>{{ despesaResultado.codigo }}</td>
					 <td>{{ despesaResultado.dataPagamento }}</td>
					 <td>{{ despesaResultado.valorFinal }}</td>
					 <td>
						<a [routerLink]="['/despesa/', despesaResultado.codigo]" class="btn waves-effect deep-purple accent-1">
							<span class="material-icons">create</span>
						</a>
					 </td>
				 </tr>
			 </tbody>
		 </table>
        </div>
      </div>
    </div>
  </div>
